# Server Port Configuration
PORT=3000

# S3 / Backblaze B2 / Cloudflare R2 Object Storage Config
S3_ACCESS_KEY_ID=0051deab30ed7db0000000001
S3_SECRET_ACCESS_KEY=K005rvpPCIMhgepQeywhvpp44TT9O8Y
S3_ENDPOINT=s3.us-east-005.backblazeb2.com
S3_BUCKET_NAME=vercelproj26
S3_KEY_NAME=node240826key

# Redis Queue Configuration
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=""
